<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10">Edit sessions</h1>
  <p class="text-lg text-grey-darker mb-6">Modify your consulting session by choosing the best time that works for you below.</p>
  <%= render 'form', meeting: @meeting %>
</div>